<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <connectionStrings>
    <add name="upgrade_address" connectionString="http://superteknomw3-upgrade.daoapp.io/upgrade_preview.xml"/>
  </connectionStrings>
  <SuperTeknoMW3 currentversion="115" updateurl="http://superteknomw3-upgrade.daoapp.io/upgrade_preview.xml">
    <UpgradeBassUrlEnglish>http://superteknomw3-upgrade.daoapp.io/update_files/english/</UpgradeBassUrlEnglish>
    <UpgradeBassUrlChinese>http://superteknomw3-upgrade.daoapp.io/update_files/chinese/</UpgradeBassUrlChinese>
  </SuperTeknoMW3>
</configuration>
